<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>TOmap</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="logo.jpg">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!--모달을 위한 코드-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!-- google map api script -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxbMZWBxFjGnTiZOMAeSIm6TFR4BvhFUM"></script>
  <!-- google geolcation api script -->
  <script src="https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDxbMZWBxFjGnTiZOMAeSIm6TFR4BvhFUM"></script>
  <!-- google geometry library -->
  <!--<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>-->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="drawer" style="width:200px; height:100%; position:absolute; margin-top:6px; background-color:white; z-index:100000;">
    <div class="container" style="width:200px; padding-left:30px; padding-top:24px;"> 
      <div>  
        <% if user_signed_in? %>
          <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png" style="margin-bottom:30px">
          <%= current_user.email %><br>
          <a href="/home/mypage">마이페이지</a> | <a href="/users/sign_out">로그아웃</a>   
        <% else %>
          <a href="/users/sign_in">로그인</a>
        <% end %>
      </div>
      <br>
      <div id="convertable">
        <a href='/' style="text-decoration:none; color:black;">
          <div id="map_button" style="cursor:pointer; margin-bottom:30px;">
            <p style="font-size:20px;">시험장 지도</p>
          </div>
        </a>
      </div>
        <div id="map_under" style="width:157px; padding-left:30px; margin-top:-20px; padding-bottom:8px; position:relative;">
          <p id="region_1" style="cursor:pointer;"> - 서울</p>
          <p id="current" style="cursor:pointer;"> - 현재 위치</p>
          <p id="near_by" style="cursor:pointer;"> - 가까운 시험장</p>
            <input id="region_1_lat" type="hidden" value=37.549565>
            <input id="region_1_lng" type="hidden" value=126.989131>
          <p id="direction0" style="font-size:17px; cursor:pointer;">길찾기 모드</p>
          <p id="direction1" style="font-size:17px; cursor:pointer;">길찾기 모드 --- 실행중...</p>
        </div>
      <a href="/home/labreview" style="text-decoration:none; color:black;">
        <div id="labreview" style="cursor:pointer; margin-bottom:30px;">
          <p style="font-size:20px;">시험장 후기</p>
        </div>
      </a>
      <a href="/home/testreview" style="text-decoration:none; color:black;">
        <div id="testreview" style="cursor:pointer; margin-bottom:30px;">
          <p style="font-size:20px;">시험 후기</p>
        </div>
      </a>
    </div>
  </nav>
  
  <div id="exit_diretion_mode" style="position:absolute; width:48px; height:48px; background-image:url(/exit_icon.png);
                                      top:60px; left:10px; cursor:pointer; z-index:10000;">
  </div>
  <script>
    $(function() {
      $('#map_under').hide();
      $('#r_drawer').hide();
      $('#exit_diretion_mode').hide();
      $('#direction1').hide();
      $('#direction_alert').hide();
    });
  </script>
    
  <script>
    var lat;
    var lng;
    var region_center;
    var mode_index = 0;
    $(function() {
      $('#current').click(function() {
        region_center = undefined;
        secondCall(pos, 14);
        $('#drawer').toggle('slide', 0);
        $('#menu_close').hide();
        $('#menu_open').show();
      });
      $('#region_1').click(function() {
        lat = $('#region_1_lat').val();
        lng = $('#region_1_lng').val();
        region_center = new google.maps.LatLng(lat, lng);
        secondCall(region_center, 11);
        $('#drawer').toggle('slide', 0);
        $('#menu_close').hide();
        $('#menu_open').show();
      });
      $('#direction0').click(function() {
        mode_index = 1;
        $('#direction0').hide();
        $('#direction1').show();
        $('#direction_alert').toggle('slide',{direction:'right'},300);
        console.log('direction mode index'+':'+mode_index);
        $('#exit_diretion_mode').show();
        $('#drawer').toggle('slide', 0);
        $('#menu_close').hide();
        $('#menu_open').show();
      });
      $('#direction1').click(function() {
        mode_index = 0;
        $('#direction1').hide();
        $('#direction0').show();
        $('#direction_alert').toggle('slide',{direction:'right'},300);
        console.log('direction mode index'+':'+mode_index);
        $('#exit_diretion_mode').hide();
      });
      $('#exit_diretion_mode').click(function() {
        mode_index = 0;
        $('#direction1').hide();
        $('#direction0').show();
        $('#direction_alert').toggle('slide',{direction:'right'},300);
        console.log('direction mode index'+':'+mode_index);
        $('#exit_diretion_mode').hide();
        $('#drawer').toggle('slide', 300);
        $('#menu_open').hide();
        $('#menu_close').show();
      });
    });
  </script>
  
  <div class="navbar navbar-default navbar-fixed-top" style="height:10px">
    <div id="menu_open" style="width:32px; height:32px; 
                               position: absolute; top: 8px; left: 15px;
                               cursor: pointer;
                               background-image: url(/icon_menu_open.png);"></div>
    <div id="menu_close" style="width:32px; height:32px;
                               position: absolute; top: 8px; left: 15px;
                               cursor: pointer;
                               background-image: url(/icon_menu_close.png);"></div>
    <script>
      $(function() {
        $('#drawer').hide();
        $('#menu_close').hide();
        $('#menu_open').click(function() {
          $('#drawer').toggle('slide','right', 300);
          $('#menu_open').hide();
          $('#menu_close').show();
        });
        $('#menu_close').click(function() {
          $('#drawer').toggle('slide', 300);
          $('#menu_close').hide();
          $('#menu_open').show();
        });
      });
    </script>
    
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><span style="color:red;"><b>TOmap</b></span></a>
        </div>
        
        
        
        
        <div class="nav navbar-nav navbar-right">
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword3">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
            </div>
          </form>
        </div> 
        
        
        
        
      </div>
    </div>
    
 

  <%= yield %>
</body>
</html>
